* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* main-cart */
.banner {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to left, #8942a8, #ba382f);
    overflow: hidden;
}

.main-cart {
    position: absolute;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
    margin-left: 5%;
    align-self: center;
    align-items: center;
    display: flex;
}

.card {
    position: relative;
    flex-shrink: 0;
    height: 300px;
    width: 250px;
    background-color: #010101;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 7px 5px -5px #4d4b4b;
    transition: 0.5s;
}

.main-cart .card:hover {
    height: 450px;
    width: 260px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
}

.top-bar {
    transform: translateY(0.5rem);
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 1rem;
}

.top-bar .stocks {
    font-size: 0.8rem;
    color: lightgreen;
}

.card .img-container {
    position: absolute;
    height: 185px;
    width: 185px;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translateY(35px);
}

.card .img-container img {
    width: 100%;
    align-self: center;
    border-radius: 20px;
}

.card .img-container .out-of-stock-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    display: none;
}

.card .img-container .out-of-stock-cover span {
    font-weight: 900;
    color: rgba(255, 200, 200, 0.75);
    font-size: 1.5rem;
}

.card .details {
    position: absolute;
    height: 220px;
    width: 100%;
    background-color: #2e2f33;
    border-radius: 20px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    bottom: -165px;
    transition: 0.25s;
}

.card .details .name-fav {
    justify-content: space-between;
}

.card .details .name-fav strong {
    font-weight: 600;
}

button {
    border: none;
    background: none;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.card .details .wrapper {
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(5px);
    display: none;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.details .wrapper p {
    font-size: 0.9rem;
    padding: 5px 0;
    font-weight: light;
}

.card .details .purchase {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .details .purchase p {
    font-weight: 500;
    margin-bottom: 0;
}

.details .purchase .add-btn {
    border-radius: 20px;
    border: 1px solid white;
    background: none;
    color: white;
    padding: 6px 10px;
}

.main-cart .card:hover .wrapper {
    display: block;
    color: white;
}

.main-cart .card:hover .name-fav {
    margin-bottom: 0;
    margin-top: 0;
}

.main-cart .card:hover .wrapper p,
h5 {
    margin-bottom: 0;
}

.main-cart .card:hover .details {
    bottom: 0;
    height: 200px;
}

.main-cart .card:hover .purchase {
    color: white;
    display: flex;
    align-items: center;
}

.details .purchase .add-btn:hover {
    background: white;
    color: black;
}

.fav {
    color: red;
}

button:focus {
    outline: none;
}

/* main-cart */
.total-qty {
    position: absolute;
    height: 1rem;
    width: 1rem;
    background: white;
    color: black;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    line-height: 1rem;
    font-weight: 600;
    top: 1rem;
    right: 1.5rem;
    user-select: none;
}

.fa-shopping-cart {
    position: absolute;
    right: 2rem;
    top: 1.2rem;
    color: black;
}

.banner .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);
    display: none;
}

.side-nav {
    position: absolute;
    background: #010101;
    opacity: 0.95;
    height: 100%;
    width: 50%;
    flex-direction: column;
    top: 0;
    right: -100%;
    z-index: 10;
    overflow: hidden;
    transition: 0.5s;
}

.cart {
    height: 100%;
    display: none;
}

.side-nav .fa-times {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 1.5rem;
}

.side-nav h2 {
    text-align: center;
    transform: translateY(1rem);
    font-size: 2rem;
    font-weight: 600;
}

.side-nav .cart-items {
    display: flex;
    position: absolute;
    width: 90%;
    margin: 0 5%;
    height: 50%;
    top: 10%;
    flex-direction: column;
}

.side-nav .cart-items .empty-cart {
    margin: auto 0;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: rgba(255, 255, 255, 0.25);
}

.side-nav .final {
    display: flex;
    position: absolute;
    align-self: flex-end;
    flex-direction: column;
    bottom: 10%;
    right: 0;
    color: white;
}

.side-nav .final strong {
    align-self: flex-end;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 20px;
    margin-bottom: 1rem;
}

.side-nav .final .action {
    display: flex;
    justify-content: space-evenly;
}

.side-nav .final .action .btn {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border: 1px solid white;
    margin-right: 20px;
    border-radius: 10px;
    color: white;
}

.cart-img {
    width: 80%;
    height: 70px;
}

.side-nav .final .action .btn:hover {
    color: black;
    background-color: white;
}

/* --------------------- */

.invoice {
    color: white;
    position: absolute;
    height: 90%;
    width: 90%;
    background: rgba(0, 0, 0, 0.95);
    padding: 5% 4%;
    margin: 0 auto;
    top: 35px;
    left: 0;
    right: 0;
    align-self: center;
    flex-direction: column;
    border-radius: 20px;
    transition: 0.25s;
    display: none;
}

.invoice .shipping-items {
    padding: 10px 0;
    width: 100%;
    justify-content: space-between;
    font-size: 25px;
}

.invoice .shipping-items .item-names,
.invoice .shipping-items .items-price {
    flex-direction: column;
    justify-content: space-around;
}

.invoice .payment {
    flex-direction: column;
    font-size: 25px;
}

.invoice .payment em,
.invoice .payment div {
    margin-top: 10px;
    font-weight: 600;
    justify-content: space-between;
}

.invoice .order {
    position: absolute;
    bottom: 10%;
    width: 40%;
    justify-content: space-around;
}

.invoice .order .btn-order {
    background: #00bbf9;
}

.invoice .order .btn-cancel {
    background: #bb342f;
    margin-left: 20px;
}

.invoice .order .btn {
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

hr {
    background-color: white !important;
    border: 1px solid white;
}

.form_cart {
    position: absolute;
    top: 1.2rem;
    left: 2rem;
    width: 100px;
}

.shopping-cart-icon {
    font-size: 2rem;
}